body{
  /* background-color: #00BFA5; */
  background-image: url('assets/background-dark.jpg');
}

.navbar {
  background-color: #80ED99;
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.div1 {
  position: fixed;
  top: 50%;
  left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);
text-align: center;
}

/* https://colorhunt.co/palette/22577a38a3a557cc9980ed99 */

.country {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  height: 1.875rem;
  border-radius: 0.438rem;
  text-indent: 0.313rem;
  width: 10rem;
  border: none;
}

.country:focus {
  border: none;
  outline: none;
}

.country-opt{
  border-radius: 0.438rem;
}

.divider1 {
  width: 33.688rem;
  text-align: center;
  color: white;
  height: 0.625rem;
}

.number-input {
  border: none;
  border-radius: 0.438rem;
  text-indent: 0.625rem;
  height: 3.75rem;
  width: 21.875rem;
  font-size: 2rem;
  font-family: 'Merriweather Sans', sans-serif;
}

.number-input:focus{
  outline: none;
  border-color: green;
  border-style: solid;
  border-width: thin;
  background-color: #ccffcc;
}

.submit-btn {
  border: none;
  border-radius: 0.438rem;
  height: 3.75rem;
  margin-top: 1rem;
  width: 21.875rem;
}

.submit-btn:hover{
  background-color: #ccffcc;
  border-color: green;
  border-style: solid;
  border-width: thin;
}

.fas {
  color: #22577A;
}

#alert-text {
  color: red;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  margin-top: 1rem;
}

.header{
  background-color: #00BFA5;
  height: 6.25rem;
  text-align: center;
}

.headtext {
 position: relative;
 top: 10%;
 color: white;
 font-family: 'Merriweather Sans', sans-serif;
}

.headtext2 {
 margin-top: 0.625rem;
 color: #e1efff ;
 font-family: 'Merriweather Sans', sans-serif;
}

.fa-location-arrow {
  color: white;
}
